/* edit this CSS with your style: use a background color, different fonts and sizes for the headings, as well as for the paragraphs, etc. Go wild!  */

body {
    margin: 0
    
}

h1 {
    color: blue;
}

p {
   font-family: "Times New Roman", Times, serif;
}
